/* per allineare verticalmente al centro */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; /* o il colore di sfondo dark */
}
::-webkit-scrollbar-thumb {
  background: #59FF00; /* verde fluo */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #59FF00; /* leggermente più scuro sul hover */
}

body.dark-theme * {
  scrollbar-color: #59ff00 #161727; /* Firefox */
  scrollbar-width: thin;
}

body.light-theme * {
  scrollbar-color: #161727 #aeaeae; /* Firefox */
  scrollbar-width: thin;
}

button{
    cursor: pointer;
}

#imgSorting{
    cursor: pointer;
}

.habitCompleteDisplay {
    display: flex;
    align-items: center; /* per allineare verticalmente al centro */
    justify-content: space-around; /* per distanziare testo e bottone agli estremi */
    gap: 10px; /* opzionale, per un po' di spazio tra testo e bottone */
    background-color: aquamarine;
    margin-left: 60;
    margin-right: 60;
    margin-top: 20;
    margin-bottom: 20;
}

.accountInfoContainer{
    TEXT-ALIGN: justify;
    PADDING: 30PX 50PX 30PX 80PX;
    DISPLAY: FLEX;
    FLEX-DIRECTION: COLUMN;
    ALIGN-SELF: CENTER;
    BORDER: SOLID;
    BORDER-RADIUS: 20PX;
    margin: 30px 60px 30px 60px;
}
#accountInfoSection{
    display: flex;
    flex-direction: column;
}

#main-content{
    padding-top: 125px;
}

#header-content{
    position: fixed;
    width: 100%;
    z-index: 1000; /* Assicura che stia sopra a tutto */
}


#siteMenuLinks{
    display: flex;
    align-items: center;
}


.errorMessage{
    color: red;
}

#logoImg{
    width: 100%;
    max-width: 260px;
    min-width: 150px;
}

#toHomePage:hover{
   cursor: pointer;
}

.divMenu{
    display: flex;
    align-items: center; /* per allineare verticalmente al centro */
    justify-content: space-around; /* per distanziare testo e bottone agli estremi */
    padding: 30px;
    border-bottom: solid;
    border-bottom-color: #59FF00;
}

.menu{

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

body{
    text-align: center;
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #161727;
    color: rgb(174,174,174);
    box-sizing: border-box;
    margin: 0;
}
.dataGiornoTasks{
    color: red;
}

a{
    color: rgb(174,174,174);
    text-decoration: none;
    
}

.menuItem{
    padding: 15px;
    box-sizing: border-box;
}

.menuItem:hover{

border-bottom: solid;

}

body.light-theme #header-content {
  background-color: #aeaeae; /* bianco pieno */
  color: #161727;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Tema scuro */
body.dark-theme #header-content {
  background-color: #161727; /* colore scuro pieno */
  color: #aeaeae;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}


body.light-theme #resetLocalStorage{
     padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    border: solid;
    border-color: #161727; 
}


body.light-theme #resetLocalStorage:hover{
     background-color: #161727; 
     color: #aeaeae; 
}

 
body.dark-theme{
    background-color: #161727;
    color: #aeaeae;
}


body.light-theme{
    background-color:#aeaeae;
    color:  rgb(22, 23, 39);
}

body.light-theme a {
    color: rgb(22, 23, 39);
}

body.light-theme .divMenu {
    border-bottom-color: #59FF00;
}

.add-week-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #59FF00;
  color: rgb(22, 23, 39);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekColor{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.weekCompleteDisplay,
.dayCompleteDisplay,
.taskCompleteDisplay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    font-size: 25px;
    padding: 25px;
    border: solid;
    border-color: #59FF00;
    margin-top: 35px;
    cursor: pointer;
    border-radius: 20px;
}


.dayCompleteDisplay:hover{
    background-color: #257b34;
}

body.dark-theme .weekCompleteDisplay:hover{
    background-color: #383b6a;
}


body.light-theme .weekCompleteDisplay:hover{
    background-color: #6b6b6b;
}

#weeksViewContainer,
.daysViewContainer,
#tasksViewContainer{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#filtersAndDeleteAllWeeks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

body.light-theme .modal-content {
  background: #aeaeae;
  border-color: #161727;
}

/* Tema scuro */
body.dark-theme .modal-content {
  background: #161727;
  border-color: #59FF00;
}

  

.modal-content {
    padding: 40px 50px;
    border-radius: 10px;
    text-align: center;
    border: solid;
    border: solid;
    DISPLAY: FLEX;
    FLEX-DIRECTION: COLUMN;
    JUSTIFY-CONTENT: CENTER;
}

.exitContainer{
    display: flex;
    justify-content: end;
}

.addWeekBtnsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
        padding: 10px 10px 40px 10px;

}


.text-area{
    align-self: center;
    width: 140px;
}

.color-area{
    align-self: center;
}

#saveEditContainer{
    padding-top: 50px;
}
/*
background: #161727;
    padding: 40px 50px;
    border-radius: 10px;
    text-align: center;
    border: solid;
    border-color: #59FF00;
    DISPLAY: FLEX;
    FLEX-DIRECTION: COLUMN;
    JUSTIFY-CONTENT: CENTER;

*/
.hidden {
  display: none;
}

.done{
    text-decoration: line-through;
    color: green;

}

#resetLocalStorage{
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    border: solid;
    border-color: #aeaeae;
}

#resetLocalStorage:hover{
     background-color: #aeaeae; 
     color: #161727; 
   }


#pEditWeekButton{
    background-color: yellow;
    border-radius: 5px;
    padding: 1px 5px 5px 5px;
    align-self: center;
    color: #161727;
}

#pEditWeekButton:hover{

    cursor: pointer;
    color: #59ff00;
}

.taskEditDeleteDiv{
    display: flex;
    align-items: center;
    width: 16%;
    justify-content: space-between;
}

#editedTaskTime{
    width: 67px;
    align-self: center;
}

.editBtn{
    background-color: yellow;
    
    color: #161727;
}

.editBtn:hover{

    cursor: pointer;
    background-color: rgb(208, 208, 3);
}

.deleteBtn{
    background-color: red;
    color: white;
    width: 25px;
}

.deleteBtn:hover{
    cursor: pointer;
    background-color: rgb(167, 0, 0);
}

.btn{
    border-radius: 5px;
    padding: 1px 5px 5px 5px;
    align-self: center;
}

#registrationForm,
#loginForm{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    margin-left: 40%;
    margin-right: 20%;
    align-self: center;
}

.registration-div{
    display: flex;
    justify-content: space-between;
    width: 63%;
}

.accountInfoDiv{
    display: flex;
    gap: 20px;
}